@{
    ViewData["Title"] = "Liste des rendez-vous";
}

@model  IEnumerable<agenda.Models.Appointment>

<table class="table" style="width:100%">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Client</th>
            <th scope="col">Courtier</th>
            <th scope="col">Sujet</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td> @appointment.Id</td>
                <td> @appointment.DateHour</td>
                <td> @appointment.IdBrokersNavigation.Lastname @appointment.IdBrokersNavigation.Firstname</td>
                <td> @appointment.IdCustomersNavigation.Lastname @appointment.IdCustomersNavigation.Firstname</td>
                <td> @appointment.Subject</td>
               
            </tr>
        }
    </tbody>
</table>